@font-face {
	font-family: Badscript;
	font-display: swap;
	src: url("../fonts/Badscriptregular.woff2") format("woff2"), url("../fonts/Badscriptregular.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: CenturyGothic;
	font-display: swap;
	src: url("../fonts/CenturyGothic-Bold.woff2") format("woff2"), url("../fonts/CenturyGothic-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: CenturyGothic;
	font-display: swap;
	src: url("../fonts/CenturyGothic.woff2") format("woff2"), url("../fonts/CenturyGothic.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: Cormorantgaramond;
	font-display: swap;
	src: url("../fonts/Cormorantgaramondbold.woff2") format("woff2"), url("../fonts/Cormorantgaramondbold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: EBGaramond;
	font-display: swap;
	src: url("../fonts/EBGaramond-Bold.woff2") format("woff2"), url("../fonts/EBGaramond-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: EBGaramond;
	font-display: swap;
	src: url("../fonts/EBGaramond-ExtraBold.woff2") format("woff2"), url("../fonts/EBGaramond-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Cormorantgaramond;
	font-display: swap;
	src: url("../fonts/Cormorantgaramondsemibold.woff2") format("woff2"), url("../fonts/Cormorantgaramondsemibold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: EBGaramond;
	font-display: swap;
	src: url("../fonts/EBGaramond-SemiBold.woff2") format("woff2"), url("../fonts/EBGaramond-SemiBold.woff") format("woff");
	font-weight: 600;
	font-style: normal;
}
